<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>rss.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login1Servlet</servlet-name>
        <servlet-class>rss.servlet.Login1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>rss.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>rss.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllServlet</servlet-name>
        <servlet-class>rss.servlet.AllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdidasServlet</servlet-name>
        <servlet-class>rss.servlet.AdidasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NikeServlet</servlet-name>
        <servlet-class>rss.servlet.NikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConverseServlet</servlet-name>
        <servlet-class>rss.servlet.ConverseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VansServlet</servlet-name>
        <servlet-class>rss.servlet.VansServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtocartServlet</servlet-name>
        <servlet-class>rss.servlet.AddtocartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>rss.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovetocartServlet</servlet-name>
        <servlet-class>rss.servlet.RemovetocartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>rss.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>rss.servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>rss.servlet.OrdercompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveQuantityServlet</servlet-name>
        <servlet-class>rss.servlet.RemoveQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>rss.servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelpServlet</servlet-name>
        <servlet-class>rss.servlet.HelpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login1Servlet</servlet-name>
        <url-pattern>/Login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllServlet</servlet-name>
        <url-pattern>/All</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdidasServlet</servlet-name>
        <url-pattern>/Adidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NikeServlet</servlet-name>
        <url-pattern>/Nike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConverseServlet</servlet-name>
        <url-pattern>/Converse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VansServlet</servlet-name>
        <url-pattern>/Vans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtocartServlet</servlet-name>
        <url-pattern>/Addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovetocartServlet</servlet-name>
        <url-pattern>/Removetocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveQuantityServlet</servlet-name>
        <url-pattern>/RemoveQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpServlet</servlet-name>
        <url-pattern>/Help</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
